<!DOCTYPE html>
<html lang="en" id="site" class="nojs">
<head>
<!--[if lt IE 9]>
<script src="static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<![endif]-->

    <title>title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">

	<link rel="canonical" href="https://fixme">
	<meta name=description content="fixme">
	<meta property=og:title content="fixme">
	<meta property=og:site_name content="fixme">
	<meta property=og:description content="fixme">
	<meta property=articlepublisher content="https://www.facebook.com/fixme">
	<meta property=og:url content="https://fixme">
	<meta property=og:type content="website">
	<meta property=og:image content="https://fixme.jpg">
	<meta name=twitter:card content="summary_large_image">
	<meta name=twitter:site content="@fixme">
	<meta name=twitter:title content="fixme">
	<meta name=twitter:description content="fixme">
	<meta name=twitter:url content="http://fixme">
	<meta name=twitter:image content="http://fixme.jpg">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="static/css/styles.min.css"/>
    <script>
        /* we want to remove the nojs class as soon as possible on page load */
        document.getElementById("site").className = document.getElementById("site").className.replace(/nojs/i,'');
    </script>
</head>

<body>

    <div class="container" data-ng-app="peddler" data-ng-controller="peddlerController as p" data-ng-init="init()">
		<p ng-repeat="item in gear">
			<label><input type="checkbox" data-ng-checked="checkGearPresent(item.id)" data-ng-click="addGear(item.id)"/> {{ item.id }} {{ item.name }}</label>
		</p>
		<p>Total weight: {{ weight }}</p>
    	<hr/>
    	<p>Speed: {{ obj.speedkmph }}kph {{ obj.speedmph }}mph ({{ obj.speedm | number:0 }}m per second)</p>
		<p>Distance: {{ obj.distancekm }}km {{ obj.distancemi }} miles ({{ obj.distancem | number:0 }} metres)</p>
		<p>Previous destination: {{ prevdest }}</p>
		<p>Current destination: {{ currdest }}</p>
		<p>Distance to current destination: {{ obj.currdestdist }}</p>

		<span class="btn" data-ng-click="changeSpeed(-1)">Decrease speed</span>
		<span class="btn" data-ng-click="changeSpeed(1)">Increase speed</span>
		<hr/>
		<p>Time: {{ obj.totaltime }}</p>

        <span class="btn" data-ng-click="save()">Save</span>
        <span class="btn" data-ng-click="deleteSave()">Delete save</span>
        
        <span data-ng-class="obj.timespeed == 1 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(1)">x1</span>
        <span data-ng-class="obj.timespeed == 2 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(2)">x2</span>
        <span data-ng-class="obj.timespeed == 10 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(10)">x10</span>
        <span data-ng-class="obj.timespeed == 100 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(100)">x100</span>
        
        <span class="btn" data-ng-click="pause()">{{ obj.pause === 0 ? "Pause" : "Resume" }}</span>
    </div>

    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/js/main.min.js"></script>

</body>
</html>
