<!DOCTYPE html>
<html lang="en" id="site" class="nojs">
<head>
<!--[if lt IE 9]>
<script src="static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<![endif]-->

    <title>Peddle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">

	<link rel="canonical" href="https://fixme">
	<meta name=description content="fixme">
	<meta property=og:title content="fixme">
	<meta property=og:site_name content="fixme">
	<meta property=og:description content="fixme">
	<meta property=articlepublisher content="https://www.facebook.com/fixme">
	<meta property=og:url content="https://fixme">
	<meta property=og:type content="website">
	<meta property=og:image content="https://fixme.jpg">
	<meta name=twitter:card content="summary_large_image">
	<meta name=twitter:site content="@fixme">
	<meta name=twitter:title content="fixme">
	<meta name=twitter:description content="fixme">
	<meta name=twitter:url content="http://fixme">
	<meta name=twitter:image content="http://fixme.jpg">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="static/css/styles.min.css"/>
    <script>
        /* we want to remove the nojs class as soon as possible on page load */
        document.getElementById("site").className = document.getElementById("site").className.replace(/nojs/i,'');
    </script>

    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD5NmULh3O_8Fk8ANcUFoMtBC8HTParfDs"></script>
    <script src="static/js/main.min.js"></script>
</head>

<body>
    <div data-ng-app="peddler" data-ng-controller="peddlerController as p" data-ng-init="init()">
    	<div class="mapwrapper">
	        <div id="map" class="map"></div>
	    </div>
        <div class="box gear">
			<p data-ng-repeat="item in gear">
				<label><input type="checkbox" data-ng-checked="checkGearPresent(item.id)" data-ng-click="addGear(item.id)"/> {{ item.id }} {{ item.name }}</label>
			</p>
			<p>Total weight: {{ weight }}</p>
		</div>

		<div class="box stats">
	    	<p>Speed: {{ obj.speedkmph | number:0 }}kph {{ obj.speedkmph / 1.60934 | number:0 }}mph</p>
			<p>Distance: {{ obj.distkm|number:2 }}km {{ obj.distkm / 1.6|number:2 }} miles</p>
			<p>Previous destination: {{ prevdest }}</p>
			<p>Current destination: {{ currdest }}, {{ currcountry }}</p>
			<p>Distance to current destination: {{ obj.currdestdist|number:2 }}km</p>
			<p data-ng-if="obj.awake">Time to current destination: {{ obj.currdesttime / onehour | number:2 }} hours</p>
			<p>Time: {{ obj.totaltime }}</p>
			<p>Total seconds: {{ obj.seconds * 10000000 | number:0 }} ({{ obj.seconds |number:7 }})</p>
			<hr/>
			<p>Awake: {{ obj.awake }}, Moving: {{ obj.moving }}</p>
			<p data-ng-if="obj.moving">Time til rest: {{ obj.tilstop / onehour | number:2 }} hours</p>
			<p data-ng-if="obj.awake">Time til sleep: {{ obj.tilsleep / onehour | number:2 }} hours</p>
			<p data-ng-if="!obj.awake">Time til end of sleep: {{ obj.tilwake / onehour | number:2 }} hours</p>
			<p data-ng-if="!obj.moving && obj.awake">Time til end of rest: {{ obj.tilgo / onehour | number:2 }} hours</p>

		</div>

		<div class="box controls">
			<span class="btn" data-ng-click="changeSpeed(-5)">Decrease speed</span>
			<span class="btn" data-ng-click="changeSpeed(5)">Increase speed</span>

	        <span class="btn" data-ng-click="save()">Save</span>
	        <span class="btn" data-ng-click="deleteSave()">Delete save</span>

	        <span data-ng-class="obj.timespeed == 1 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(1)">x1</span>
	        <span data-ng-class="obj.timespeed == 2 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(2)">x2</span>
	        <span data-ng-class="obj.timespeed == 10 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(10)">x10</span>
	        <span data-ng-class="obj.timespeed == 100 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(100)">x100</span>
	        <span data-ng-class="obj.timespeed == 300 ? 'btn btn-primary' : 'btn'" data-ng-click="setTimeSpeed(300)">x300</span>
	        <span class="btn" data-ng-click="pause()">{{ obj.pause === 0 ? "Pause" : "Resume" }}</span>
		</div>

		<div class="box messages">
			<ul class="messagecontrols">
				<li data-ng-repeat="m in messagetypes">
					<label>
						<input type="checkbox" data-ng-model="m.show"/>
						{{ m.name }}
					</label>
				</li>
<!--
				<li data-ng-click="messages.showOfType(0)">All</li>
				<li data-ng-click="messages.showOfType(1)">Dests</li>
				<li data-ng-click="messages.showOfType(2)">Stops</li>
				<li data-ng-click="messages.showOfType(3)">Events</li>
-->
			</ul>
			<div class="messagewrap">
	        	<div data-ng-repeat="message in obj.messages | orderBy:'-'" data-ng-if="messagetypes[message.type].show" class="message">
	        		{{ message.text }}
	        		<!-- <span class="btn" data-ng-click="messages.hide(obj.messages.length - $index - 1)">Remove</span> -->
	        		<span class="datetime">{{ message.datetime }}</span>
	        	</div>
	        </div>
	    </div>
    </div>

</body>
</html>
